 <!-- ALL ABOUT LARGE SCREENS -->
  <div class="large-screen">
    <div class="big-screen-card">
      <h2>Unsupported Device <i class="ri-macbook-line"></i></h2>
      <p>
        <%= message %>
      </p>
      <p>Please use a mobile phone or tablet.</p>
      <p>This site is only available on mobile or tablet. Please switch to a smaller device.</p>

      <div class="row">
        <a class="btn" href="/logout">Logout</a>
        <!-- <a class="btn" href="#">Open Console</a> -->
      </div>
    </div>


    <!-- BACKGROUND BLUR -->
    <span class="bg__blur"></span>
    <span class="footer__blur"></span>
  </div>
