
<!-- Floating Telegram Button -->
<a href="#" target="_blank" class="telegram-float">
    <img src="https://storage.perfectcdn.com/98b10r/h7j64q32oquy7zt9.gif" alt="Telegram" />
</a>



    <!-- Scroll to Top Button -->
    <button id="scrollToTopBtn" class="scroll-to-top-btn">
        <i class="ri-arrow-up-line"></i>
    </button>




 <!-- ALL ABOUT FOOTER SECTION  -->
<footer class="section__container footer__container">
    <span class="footer__blur"></span>

    <div class="footer__col">
        <div class="footer__logo"><a href="/"><img src="images/logo.png" alt="logo" /></a></div>
        <p>
            Welcome to DYNAMIQERRA — your friendly, professional platform for daily earnings! We offer simple earning packages, easy tasks, and powerful referral rewards to help you build a secure financial future. Join thousands of users already earning with us today!
        </p>
        <div class="footer__socials">
            <a href="#"><i class="ri-facebook-fill"></i></a>
            <a href="#"><i class="ri-instagram-line"></i></a>
            <a href="#"><i class="ri-twitter-fill"></i></a>
            <a href="#"><i class="ri-youtube-line"></i></a>
            <a href="#"><i class="ri-tiktok-fill"></i></a>
        </div>
    </div>

    <div class="footer__col cool">
        <h4>Sections</h4>
        <a href="/login">How It Works</a>
        <a href="/login">Packages</a>
        <a href="/login">Referral System</a>
        <a href="/login">Withdrawals</a>
    </div>

    <div class="footer__col cool">
        <h4>Support</h4>
        <a href="/summary">Web Summary</a>
        <a href="/login">Privacy Policy</a>
        <a href="/login">Contact Us</a>
        <a href="/login">Help Center</a>
    </div>

   <div class="footer__col cool">
    <h4>Company</h4>
    <a href="/login">About Us</a>
    <a href="/login">Our Team</a>
    <a href="/login">Trust & Security</a>
    <a href="/login">News & Updates</a>
</div>

</footer>

<div class="footer__bar">
    <p>Copyright © 2025 DYNAMIQERRA. All rights reserved.</p>
</div>