# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# dotenv environment variables
.env

# Build output
dist/
build/

# Ignore everything inside uploads
/public/uploads/*

# But don’t ignore .gitkeep
!/public/uploads/.gitkeep


# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/
